body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    min-height: 2000px;

    .wrong-click {
        animation: wrongClick 2.5s;
    }

    

    @keyframes wrongClick {
        0% {
            background: transparent;
        }

        40% {
            background: #D55C4C;
        }

        90% {
            background: transparent;
        }
    }

    .box-cell__block {
        width: 55px;
        height: 55px;
        background: #334861;
        // border: 1px solid #202E43;
    }

    

    .refresher {
        width: 100%;
        height: 2000px;
        background: transparent;
        z-index: 99;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        

        .attempts {
            display: flex;
            justify-content: space-between;
            max-width: 200px;
            padding-left: 105px;
            margin: auto;
            margin-bottom: 20px;
        }

        .heart {
            img {
                width: 45px;
                height: 45px;
            }
        }

        .box {
            width: 570px;
            height: 570px;
            border: 5px solid black;
            display: flex;
            flex-wrap: wrap;
            margin: 5px;
            z-index: 99;

            &-2 {
                display: flex;
            }

            &-cell {
                width: 55px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #C1C5D1;
                
                &.border {
                    border-color: #202E43;
                }

                &.border-right {
                    border-right-color: #202E43;
                }
            
                &.border-left {
                    border-left-color: #202E43;
                }
            
                &.border-top {
                    border-top-color: #202E43;
                }
            
                &.border-bottom {
                    border-bottom-color: #202E43;
                }
            }


            &-number {
                width: 100px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #EBEFF8;
                border-radius: 5px;
                font-size: 20px;
                border: 1px solid transparent;

                &s__left {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                }

                &s__top {
                    display: flex;
                    justify-content: space-around;
                    padding-left: 105px;

                    .box-number {
                        width: 30px;
                        height: 100px;

                    }
                }
                &.full-line {
                    color: #c3c3c3;
                    background: #fff;
                    border-color:#EBEFF8;
                }
            }

            

            .cross-cell {
                width: inherit;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;

                .stick-cell {
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background: #334861;
                    border-radius: 50px;
                    transform: rotate(-45deg);

                    &:first-child {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .tools {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            .switcher {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 105px;
                flex-basis: 50%;
                .switch {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 200px;
                    height: 100px;
    
                    border-radius: 65px;
                    border: 3px solid #87888B;
                    background: #A5A5A5;
    
                    .cross-wrap,
                    .block-wrap {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .stick {
                            position: absolute;
                            width: 70px;
                            height: 8px;
                            background: #334861;
                            border-radius: 50px;
                            transform: rotate(-45deg);
    
                            &:first-child {
                                transform: rotate(45deg);
                            }
                        }
    
                        .block {
                            width: 50px;
                            height: 50px;
                            background: #334861;
                            border-radius: 3px;
                        }
                    }
    
                    .block-wrap {
                        background: transparent;
                    }
    
                    .bg-white {
                        background: #fff;
                    }
    
                    input {
                        display: none;
                    }
    
                    input:checked+.cross {
                        background: #000;
                    }
                }
            }

            .hint {
                width: 90px;
                height: 90px;
                background: #A5A5A5;
                border: 3px solid #87888B;
                border-radius: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50px;
                position: relative;
                cursor: pointer;
                .bulb {
                    img {
                        width: 45px;
                        height: 45px;
                    }
                }
                .amount {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    background: blue;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: #fff;
                    }
                }
            }
            .bg-white {
                background: #fff;
            }
        }

        .game-over__modal {
            width: 100%;
            height: 1080px;
            background: rgba($color: #999999, $alpha: 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            display: none;
            opacity: 0;

            @keyframes gameOver {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            .modal {
                width: 300px;
                height: 300px;
                background: #fff;
                border-radius: 8px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                &-text {}

                &-heart {}

                &-heart {
                    background-color: red;
                    display: inline-block;
                    height: 30px;
                    margin: 0 10px;
                    position: relative;
                    top: 0;
                    transform: rotate(-45deg);
                    width: 30px;

                    &:before,
                    &:after {
                        content: "";
                        background-color: red;
                        border-radius: 50%;
                        height: 30px;
                        position: absolute;
                        width: 30px;
                    }

                    &:before {
                        top: -15px;
                        left: 0;
                    }

                    &:after {
                        left: 15px;
                        top: 0;
                    }
                }

                &-restart {
                    button {
                        border: none;
                        outline: none;
                        background: none;
                        cursor: pointer;
                        font-size: 20px;
                        color: #057BF9;
                    }
                    
                }
            }
        }
        .game-over__animation {
            animation: gameOver 1.4s;
        }

    }
}