body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  min-height: 2000px;
}

body .wrong-click {
  -webkit-animation: wrongClick 2.5s;
          animation: wrongClick 2.5s;
}

@-webkit-keyframes wrongClick {
  0% {
    background: transparent;
  }
  40% {
    background: #D55C4C;
  }
  90% {
    background: transparent;
  }
}

@keyframes wrongClick {
  0% {
    background: transparent;
  }
  40% {
    background: #D55C4C;
  }
  90% {
    background: transparent;
  }
}

body .box-cell__block {
  width: 55px;
  height: 55px;
  background: #334861;
}

body .box-cell__block.box-animation {
  -webkit-animation: boxAnimation 0.5s;
          animation: boxAnimation 0.5s;
}

@-webkit-keyframes boxAnimation {
  0% {
    background: #334861;
  }
  50% {
    background: #3163AE;
  }
}

@keyframes boxAnimation {
  0% {
    background: #334861;
  }
  50% {
    background: #3163AE;
  }
}

body .refresher {
  width: 100%;
  height: 2000px;
  background: transparent;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .attempts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
  padding-left: 105px;
  margin: auto;
  margin-bottom: 20px;
}

body .container .heart img {
  width: 45px;
  height: 45px;
}

body .container .box {
  width: 570px;
  height: 570px;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  z-index: 99;
}

body .container .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .box-cell {
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C1C5D1;
  position: relative;
  cursor: pointer;
}

body .container .box-cell.border {
  border-color: #202E43;
}

body .container .box-cell.border-right {
  border-right-color: #202E43;
}

body .container .box-cell.border-left {
  border-left-color: #202E43;
}

body .container .box-cell.border-top {
  border-top-color: #202E43;
}

body .container .box-cell.border-bottom {
  border-bottom-color: #202E43;
}

body .container .box-number {
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EBEFF8;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid transparent;
}

body .container .box-numbers__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .box-numbers__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 105px;
}

body .container .box-numbers__top .box-number {
  width: 30px;
  height: 100px;
}

body .container .box-number.full-line {
  color: #c3c3c3;
  background: #fff;
  border-color: #EBEFF8;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body .container .box .cross-cell {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .box .cross-cell .stick-cell {
  position: absolute;
  width: 50px;
  height: 5px;
  background: #334861;
  border-radius: 50px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .container .box .cross-cell .stick-cell:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .container .switch,
body .container .hint {
  cursor: pointer;
}

body .container .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

body .container .tools .switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 105px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

body .container .tools .switcher .switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100px;
  border-radius: 65px;
  border: 3px solid #87888B;
  background: #A5A5A5;
}

body .container .tools .switcher .switch .cross-wrap,
body .container .tools .switcher .switch .block-wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .tools .switcher .switch .cross-wrap .stick,
body .container .tools .switcher .switch .block-wrap .stick {
  position: absolute;
  width: 70px;
  height: 8px;
  background: #334861;
  border-radius: 50px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .container .tools .switcher .switch .cross-wrap .stick:first-child,
body .container .tools .switcher .switch .block-wrap .stick:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .container .tools .switcher .switch .cross-wrap .block,
body .container .tools .switcher .switch .block-wrap .block {
  width: 50px;
  height: 50px;
  background: #334861;
  border-radius: 3px;
}

body .container .tools .switcher .switch .block-wrap {
  background: transparent;
}

body .container .tools .switcher .switch .bg-white {
  background: #fff;
}

body .container .tools .switcher .switch input {
  display: none;
}

body .container .tools .switcher .switch input:checked + .cross {
  background: #000;
}

body .container .tools .hint {
  width: 90px;
  height: 90px;
  background: #A5A5A5;
  border: 3px solid #87888B;
  border-radius: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  position: relative;
  cursor: pointer;
}

body .container .tools .hint .bulb img {
  width: 45px;
  height: 45px;
}

body .container .tools .hint .amount {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: blue;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .tools .hint .amount span {
  color: #fff;
}

body .container .tools .bg-white {
  background: #fff;
}

body .container .game-over__modal {
  width: 100%;
  height: 1080px;
  background: rgba(153, 153, 153, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
  opacity: 0;
}

@-webkit-keyframes gameOver {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gameOver {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .container .game-over__modal .modal {
  width: 700px;
  height: 700px;
  background: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .game-over__modal .modal-heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 30px;
}

body .container .game-over__modal .modal-heart:before, body .container .game-over__modal .modal-heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

body .container .game-over__modal .modal-heart:before {
  top: -15px;
  left: 0;
}

body .container .game-over__modal .modal-heart:after {
  left: 15px;
  top: 0;
}

body .container .game-over__modal .modal-restart button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: #057BF9;
}

body .container .game-over__animation {
  -webkit-animation: gameOver 1.4s;
          animation: gameOver 1.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */